<!DOCTYPE html>
<html>
<head>
    <title>About</title>
     <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/shop.css" >
</head>
<body>
    {{>header}}
    <div style="text-align: center; padding-top: 70px;">
           <p> This site is created by Bello Muhammad Bello <br>
        Am glad that you go through my project and thank you for all the support
    </p>
    </div>
 
    <div class="fixed-bottom">
          {{>footer}}
    </div>
  

      <!-- Bootstrap core JavaScript -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>